<?php
return array(
    'db' => array(
        'username' => "${MYSQL_USER}",
        'password' => "${MYSQL_PASSWORD}",
        'dbname' => "${MYSQL_DATABASE}",
        'host' => "${MYSQL_HOST}",
        'port' => "${MYSQL_PORT}"
    )
);